body{
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color: rgb(190, 236, 225);
text-align:center;
background:-webkit-radial-gradient(rgb(4, 75, 75), rgb(94, 29, 80));
}

button{
padding:10px 20px;
margin:10px auto;
font-size:16px;
display:block;

border-width: 3px;
border-color: rgb(190, 236, 225);
border-radius:10px; 
background:rgb(4, 75, 75); 
color:rgb(190, 236, 225);
cursor:pointer;
}


input{
padding:5px;
margin:5px;
}

.role-card{
position:relative;
width:300px;
margin:20px auto;
}

#roleImage{
width:100%;
border-radius:20px;
}

#roleText{
position:absolute;
bottom:20px;
width:100%;
text-align:center;
font-size:28px;
font-weight:bold;
color: rgb(190, 236, 225);

}
